# Environment variables
.env
.env.local
.env.production

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/
/dist/

# Frontend
cp-frontend/node_modules/
cp-frontend/dist/
cp-frontend/.env.local
cp-frontend/.env.production

# Database
*.db
*.sqlite
server
full_project_code.txt
